<!-- Ad blocking recovery -->
<script
  async
  src="https://fundingchoicesmessages.google.com/i/pub-9512495707028343?ers=1"
  nonce="zG-XMu9e9eZgUA3cG1msWw"
></script>
<script nonce="zG-XMu9e9eZgUA3cG1msWw">
  (function () {
    function signalGooglefcPresent() {
      if (!window.frames["googlefcPresent"]) {
        if (document.body) {
          const iframe = document.createElement("iframe");
          iframe.style =
            "width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;";
          iframe.style.display = "none";
          iframe.name = "googlefcPresent";
          document.body.appendChild(iframe);
        } else {
          setTimeout(signalGooglefcPresent, 0);
        }
      }
    }
    signalGooglefcPresent();
  })();
</script>