pre[class*="language-"] {
  background: none;
  padding: 0;
}

ul.xpath {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  list-style: none;
  padding: 0;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table tr th:nth-child(3) {
  width: 36%;
}