<div class="container-xxl bd-gutter masthead-followup">
  <section class="row g-md-5 pb-md-5 mb-5 align-items-center">
    <div class="col-lg-8 mb-5">
      <div class="masthead-followup-icon d-inline-block mb-3" style="--bg-rgb: var(--bd-pink-rgb);">
        <svg class="bi fs-1">
          <use xlink:href="#braces"></use>
        </svg>
      </div>
      <h2 class="display-5 mb-3 fw-semibold lh-sm">Features</h2>
      <p class="lead fw-normal mb-4">
      <ul>
        <li>
          Auto record and playback mouse and keyboard actions
        </li>
        <li>
          Autofill everything works on all input types (checkbox, color, date, email, hidden, number, password, radio, range, search, text, time), textarea fields, select/option fields, content editable elements,
        </li>
        <li>
          Seamlessly integrate and fill out data from Google Sheets
        </li>
        <li>
          Sync your configuration with Google Drive
        </li>
        <li>
          Manage all your configurations with ease: search, filter, and update from a single interface
        </li>
        <li>
          Access a library of publicly available configurations
        </li>
        <li>
          Run either manually or automatically
        </li>
        <li>
          Addon:  Add conditions to your actions based on elements, their text, or their values
        </li>
        <li>
          Import and export your data to and from json files
        </li>
        <li>
          Repeat actions as many times as you want
        </li>
        <li>
          Schedule your actions to run at a specific time
        </li>
        <li>
          Retry if an action fails
        </li>
        <li>
            Receive notifications on Chrome or Discord when an action fails or completes
        </li>
      </ul>
      </p>
    </div>
  </section>
</div>