<nav class="navbar navbar-expand-md border-bottom bd-navbar flex-column flex-md-row ">
 <a class="navbar-brand" href="#">
  <img src="{{ '/assets/favicons/icon128.png' | relative_url }}" width="30" height="30" alt="">
 </a>
 <div class="navbar-nav-scroll">
  <ul class="navbar-nav mr-auto flex-row w-100">
   {% assign pageUrl = page.url | replace : '.html', '' %}
   {% for item in site.data.header %}
   {% assign name = item.name | downcase %}
   <li class="nav-item">
    <a {% if page.menu == name or page.menu == item.menu %} class="nav-link active" {% else %} class="nav-link"
     {% endif %} href="{{ item.link  | relative_url }}">{{ item.name }}</a>
   </li>
   {% endfor %}
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
     Config Page
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
     <a class="dropdown-item" style="font-weight:bold;" href="{{ 'options_page' | relative_url }}">Stable</a>
     <a class="dropdown-item" href="{{ 'options_page_beta' | relative_url }}">Beta</a>
    </div>
   </li>
  </ul>
 </div>
 <form class="ml-auto">
  <a href="https://chrome.google.com/webstore/detail/auto-click-auto-fill/iapifmceeokikomajpccajhjpacjmibe"
   target="_blank"
   class="btn btn-primary px-5 rounded-pill invisible d-none btn-download d-lg-inline-block mb-3 mb-md-0 ml-md-3">Download</a>
 </form>
</nav>
<script>
 window.onload = _ => {
  if (!window.extension_installed) {
   $(".btn-download").removeClass("invisible");
  }
 }
</script>