<nav class="navbar navbar-expand-md border-bottom bd-navbar flex-column flex-md-row ">
  <a class="navbar-brand" href="#">
    <img src="{{ '/assets/favicons/icon128.png' | relative_url }}" width="30" height="30" alt="">
  </a>
  <ul class="navbar-nav mr-auto flex-row w-100">
    {% assign pageUrl = page.url | replace : '.html', '' %}
    {% for item in site.data.header %}
    <li class="nav-item">
      <a {% if pageUrl == item.link %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ item.link  | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
    <li class="nav-item w-100">
      <button class="btn btn-link bd-search-docs-toggle d-md-none float-right ml-3 collapsed" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg></button>
    </li>
  </ul>
  
  <form class="ml-auto">
    <a href="https://chrome.google.com/webstore/detail/auto-click-auto-fill/iapifmceeokikomajpccajhjpacjmibe" target="_blank" class="btn btn-primary px-5 rounded-pill d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">Download</a>
  </form>
</nav>