//
// Footer
//

.bd-footer {
  @include font-size(0.875rem);
  text-align: center;
  background-color: $bd-footer-bg-color;
  a {
    font-weight: 600;
    color: $gray-500;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  p {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

.bd-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;

  li {
    display: inline-block;

    + li {
      margin-left: 1rem;
    }
  }
}
