---
import Features from '@components/home/Features.astro'
import MastHead from '@components/home/MastHead.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
  <MastHead />
  <div class="container-xxl bd-gutter masthead-followup">
    <Features />
  </div>
</BaseLayout>
