---
layout: default
---
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item active">
          <ul class="nav bd-sidenav">
            {% assign currentPageUrl = page.url | replace : '.html', '' %}
            {% for page in site.pages %}
            {% if page.menu == 'examples' %}
            {% assign pageUrl = page.url | replace : '.html', '' %}
            <li {% if currentPageUrl == pageUrl %} class="bd-sidenav-active active" {% endif %}>
              <a href="{{ pageUrl | relative_url }}">{{ page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">{{content}}</main>
    <div class="d-none d-xl-block col-xl-2 bd-toc">
      {% capture itemClass %}toc-entry.toc-h%level%{% endcapture %}
      {% include toc.html html=content class="section-nav" item_class=itemClass h_min=2 h_max=3 %}
    </div>
  </div>
</div>
<script src="{{ '/assets/scripts/examples.js' | relative_url }}"></script>